@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap");

html {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

header nav a {
  margin-left: 1rem;
}

header img {
  width: 150px;
}

section {
  padding: 1rem;
}

a {
  color: rgb(0, 150, 255);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
}

a:visited {
  color: rgb(0, 150, 255);
}

a:hover {
  color: black;
}

a.active {
  color: black;
}

a.active::before {
  content: "> ";
}

article a::after {
  content: " >";
}

p {
  padding: 0 0.5rem;
}

footer {
  border-top: 1px solid #ddd;
  padding: 2rem 1rem;
}

code {
  font-family: "Jetbrains Mono";
  background-color: #ccc;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

img {
  border-radius: 0.5rem;
}

figure {
  margin: 0;
  text-align: center;
}

article.img-row figure img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

article figure {
  max-width: 60%;
  margin: 2rem auto;
}

article figure img {
  width: 100%;
}

figcaption {
  font-size: 0.9rem;
  color: #333;
}

section.two-col {
  display: flex;
}

section.two-col > article {
  flex: 1;
}

article.img-row {
  display: flex;
}

article.img-row figure {
  flex: 1;
  margin-right: 1rem;
  overflow: hidden;
}

#hero {
  padding: 3rem;
  padding-top: 5rem;
  text-align: center;
}

#hero h1 {
  color: #666;
  font-style: italic;
}

@media print {
  header {
    display: none;
  }

  footer {
    display: none;
  }
}
